<ion-view view-title="Career">
  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <img src="{{occupation.image}}">
      <h2>{{occupation.name}}</h2>
      <p>{{occupation.title}}</p>

    </div>

  <div class="item item-body">
    <img height="150" width="150" src="{{occupation.image}}">
    <p>{{occupation.bio}}</p>
    <p>{{occupation.accomplishments}}</p>
    <p>
      <a href="#" class="subdued">{{occupation.video}}</a>

    </p>
  </div>

</div>

  </ion-content>
</ion-view>
