<ion-view view-title="Career">
  <ion-content class = "card-background-page">
    <body>

    <div class="list card">
      <div class="item item-avatar" style="background: url('img/background.jpg'); background-size: cover;">
        <img src="{{occupation.image}}">
      <h2>{{occupation.name}}</h2>
      <p>{{occupation.title}}</p>

    </div>

  <div class="item item-body" style="background: url('img/background.jpg'); background-size: cover;">
    <img height="100" width="100" src="{{occupation.image}}">
    <p>{{occupation.bio}}</p>
    <p>{{occupation.accomplishments}}</p>
    <p>
      <a href="{{occupation.video}}" class="subdued">
        <button class = "closing" onClick = "javascript:close_clip()"><img src="img/learnmore.png" <img height="50" width="50"/></button>
    </p>
  </div>
</body>
</ion-content>
