<ion-view view-title="Career">
  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <img src="mcfly.jpeg">
      <h2>Marty McFly</h2>
      <p>November 05, 1955</p>
    </div>

  <div class="item item-body">
    <img class="full-image" src="delorean.jpg">
    <p>
      The header is created from a Thumbnail List item,
      the content is from a card-body consisting of an image and paragraph text. The footer
      consists of tabs, icons aligned left, within the card-footer.
    </p>
    <p>
      <a href="#" class="subdued">Comment1</a>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/mFflCgaVjW0" frameborder="0" allowfullscreen></iframe>
    </p>
  </div>

</div>

  </ion-content>
</ion-view>
