<ion-view view-title="Career">
  <ion-content>
    <h1>Here are some occupations for {{career.title}}</h1>
    <ion-list>
      <a class="item" ng-repeat="occupation in career.occupations" href = "#/app/playlists/{{career.id}}/career/{{occupation.id}}">
        {{occupation.title}}
      </a>
    </ion-list>
    <div class="tabs tabs-icon-top">
  <a class="tab-item">
    <i class="icon ion-home"></i>
    Home
  </a>
  <a class="tab-item">
    <i class="icon ion-star"></i>
    Favorites
  </a>
  <a class="tab-item">
    <i class="icon ion-gear-a"></i>
    Settings
  </a>
</div>
  </ion-content>
</ion-view>
